.App-header {
  background-color: #00FF00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainMenu {
  vertical-align: middle;
  display: table;
  margin: auto;
  background: rgb(83, 83, 83);
  padding: 200px;
}

#MainMenu button {
  display: block;
  margin-top: 30px;
}

.OverlayPage,
.SessionResultsPage {
  width: 1920px;
  height: 900px;
  display: inline-block;
  overflow: hidden;
}

.ScoreboardList {
  margin-left: 50px;
  margin-right: 50px;
}

.Row {
  font-family: 'Segoe UI';
  font-weight: 550;
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  table-layout: fixed;
  padding-bottom: 10px;
  background-clip: border-box;
}

.SessionResultRow {
  background-image: url("./img/5.png");
  background-repeat: no-repeat;
}

.CarnumberCol {
  width: 60px;
  height: 50px;
  display: table-cell;
  padding-left: 25px;
  text-align: center;
}

.PositionCol {
  width: 60px;
  height: 50px;
  display: table-cell;
  padding-left: 15px;
  text-align: center;
}

.ChampionshipStandingsPositionCol {
  width: 80px;
  height: 50px;
  display: table-cell;
  padding-left: 15px;
  text-align: center;
}

.ChampionshipStandingsCarNumCol {
  width: 100px;
  height: 50px;
  display: table-cell;
  padding-left: 25px;
  text-align: center;
}

.ChampionshipStandingsNameCol {
  width: 600px;
  height: 50px;
  display: table-cell;
  padding-left: 35px;
  text-align: left;
}

.ChampionshipStandingsCarCol {
  width: 560px;
  height: 50px;
  display: table-cell;
  padding-left: 35px;
  text-align: left;
}

.ChampionshipStandingsPointsCol {
  width: 100px;
  height: 50px;
  display: table-cell;
  padding-left: 30px;
  text-align: center;
  color: black;
}

.PRO {
  color: black;
}

.SILVER {
  color: white;
}

.AM {
  color: white;
}

.ROOKIE {
  color: black;
}

.ChampionshipStandingsRow,
.ChampionshipStandingsRow-PRO,
.ChampionshipStandingsRow-SILVER,
.ChampionshipStandingsRow-AM,
.ChampionshipStandingsRow-ROOKIE {
  margin-left: 161px;
  width: 1598px;
  background-repeat: no-repeat;
}

.ChampionshipStandingsRow-PRO {
  background-image: url("./img/Champ_Standings_Slide_PRO.svg");
}

.ChampionshipStandingsRow-SILVER {
  background-image: url("./img/Champ_Standings_Slide_SILVER.svg");
}

.ChampionshipStandingsRow-AM {
  background-image: url("./img/Champ_Standings_Slide_AM.svg");
}

.ChampionshipStandingsRow-ROOKIE {
  background-image: url("./img/Champ_Standings_Slide_ROOKIE.svg");
}

.DriverCol {
  width: 420px;
  display: table-cell;
  height: 50px;
  padding-left: 35px;
  text-align: left;
} 

.CategoryCol {
  width: 5%;
  height: 50px;
  display: table-cell;
} 

.CarCol {
  display: table-cell;
  width: 600px;
  height: 50px;
  text-align: left;
  padding-left: 21px;
} 

.TimeCol {
  height: 50px;
  width: 200px;
  margin:0 auto;
  display: table-cell;
  padding-left: 21px;
}

.TimeDiffCol {
  height: 50px;
  width: 200px;
  margin:0 auto;
  display: table-cell;
}

.Title,
.ChampionshipStandingsTitle {
  text-align: center;
  height:100px;
  top: 25px;
  left: 25%;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1437px;
  font-family: 'Segoe UI';
  font-weight: 550;
  height: 50px;
  background-image: url("./img/Standing_Title.svg");
  background-repeat: no-repeat;
}
.Subtitle {
  position: fixed;
  top: 140px;
  height: 60px;
  left: 25%;
  background-color: #0e11da;
  width: 50%;
  line-height: 55px;
  vertical-align: middle;
}


.item-enter {
  transform: translate3d(1800px, 0, 0);
}
.item-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 500ms ease-out;
}
.item-exit {
  transform: translate3d(0, 0, 0);
}
.item-exit-active {
  transform: translate3d(-1800px, 0, 0);
  transition: transform 500ms ease-in;
}

