.App-header {
  background-color: #FF00FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainMenu {
  vertical-align: middle;
  display: table;
  margin: auto;
  background: rgb(83, 83, 83);
  padding: 200px;
}

#MainMenu button {
  display: block;
  margin-top: 30px;
}

.OverlayPage,
.SessionResultsPage {
  width: 1920px;
  height: 900px;
  display: inline-block;
  overflow: hidden;
}

.ScoreboardList {
  margin-left: 50px;
  margin-right: 50px;
}

.Row {
  font-family: 'Segoe UI';
  line-height: 47px;
  font-weight: 550;
  margin-left: 150px;
  margin-right: 50px;
  height: 50px;
  table-layout: fixed;
  padding-bottom: 10px;
  background-clip: border-box;
}

.SessionResultRow {
  background-image: url("./img/5.png");
  background-repeat: no-repeat;
}

.CarnumberCol {
  width: 60px;
  height: 50px;
  display: table-cell;
  padding-left: 25px;
  text-align: center;
}

.PositionCol {
  width: 60px;
  height: 50px;
  display: table-cell;
  padding-left: 15px;
  text-align: center;
}

.ChampionshipStandingsPositionCol {
  width: 100px;
  height: 50px;
  display: table-cell;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100px 50px;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: 650;
}

.ChampionshipStandingsCarNumCol {
  width: 113px;
  height: 50px;
  display: table-cell;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 113px 50px;
  box-sizing: border-box;
  padding-left: 10px;
}

.ChampionshipStandingsFlagCol {
  width: 120px;
  height: 50px;
  display: table-cell;
  text-align: center;
  background-position-x: center, center;
  background-repeat: no-repeat, repeat;
  background-size: contain, 105px, 50px;
}

.ChampionshipStandingsNameCol {
  width: 560px;
  height: 50px;
  display: table-cell;
  padding-left: 10px;
  text-align: left;
  background-image: url("./img/col4.png");
  background-repeat: no-repeat;
  background-size: 560px 50px;
  box-sizing: border-box;
}

.ChampionshipStandingsCarCol {
  width: 590px;
  height: 50px;
  display: table-cell;
  padding-left: 30px;
  text-align: left;
  background-image: url("./img/col5.png");
  background-repeat: no-repeat;
  background-size: 590px 50px;
  box-sizing: border-box;
}

.ChampionshipStandingsPointsCol {
  width: 143px;
  height: 50px;
  display: table-cell;
  text-align: center;
  color: black;
  background-image: url("./img/col6.png");
  background-repeat: no-repeat;
  background-size: 143px 50px;
  box-sizing: border-box;
  padding-right: 10px;  
  font-weight: 650;
}

.PRO {
  color: black;
}

.SILVER {
  color: white;
}

.AM {
  color: white;
}

.ROOKIE {
  color: black;
}

.ChampionshipStandingsRow,
.ChampionshipStandingsRow-PRO,
.ChampionshipStandingsRow-SILVER,
.ChampionshipStandingsRow-AM,
.ChampionshipStandingsRow-ROOKIE {
  margin-left: 161px;
  width: 1598px;
  background-repeat: no-repeat;
}

.ChampionshipStandingsRow-PRO {
  background-image: url("./img/Champ_Standings_Slide_PRO.svg");
}

.ChampionshipStandingsRow-SILVER {
  background-image: url("./img/Champ_Standings_Slide_SILVER.svg");
}

.ChampionshipStandingsRow-AM {
  background-image: url("./img/Champ_Standings_Slide_AM.svg");
}

.ChampionshipStandingsRow-ROOKIE {
  background-image: url("./img/Champ_Standings_Slide_ROOKIE.svg");
}

/* Session results stuff */

.SessionResultsRow,
.SessionResultsRow-PRO,
.SessionResultsRow-SILVER,
.SessionResultsRow-AM,
.SessionResultsRow-ROOKIE {
  margin-left: 76px;
  width: 1768px;
  background-repeat: no-repeat;
}

.SessionResultsRow-PRO {
  background-image: url("./img/Session_Results_Slide_PRO.svg");
}

.SessionResultsRow-SILVER {
  background-image: url("./img/Session_Results_Slide_SILVER.svg");
}

.SessionResultsRow-AM {
  background-image: url("./img/Session_Results_Slide_AM.svg");
}

.SessionResultsRow-ROOKIE {
  background-image: url("./img/Session_Results_Slide_ROOKIE.svg");
}

.SessionResultPositionCol {
  width: 70px;
  height: 50px;
  display: table-cell;
  padding-left: 25px;
  text-align: center;
  vertical-align: middle;
} 

.SessionResultCarNumberCol {
  width: 100px;
  height: 50px;
  display: table-cell;
  padding-left: 25px;
  text-align: center;
  vertical-align: middle;
} 

.SessionResultDriverCol {
  width: 590px;
  display: table-cell;
  height: 50px;
  padding-left: 35px;
  text-align: left;
  vertical-align: middle;
} 

.SessionResultCarCol {
  display: table-cell;
  width: 560px;
  height: 50px;
  text-align: left;
  padding-left: 37px;
  vertical-align: middle;
} 

.SessionResultTimeCol {
  height: 50px;
  width: 135px;
  display: table-cell;
  text-align: center;
  padding-left: 35px;
  vertical-align: middle;
}

.SessionResultTimeDiffCol {
  height: 50px;
  width: 125px;
  display: table-cell;
  vertical-align: middle;
  color: black;
  padding-left: 35px;
}

.Title,
.ChampionshipStandingsTitle {
  text-align: center;
  height:100px;
  top: 25px;
  left: 25%;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1025px;
  font-family: 'Segoe UI';
  font-weight: 550;
  line-height: 47px;
  height: 50px;
  background-image: url("./img/Title_Slide.svg");
  background-repeat: no-repeat;
}
.Subtitle {
  position: fixed;
  top: 140px;
  height: 60px;
  left: 25%;
  background-color: #0e11da;
  width: 50%;
  line-height: 55px;
  vertical-align: middle;
}

.test {
  height: 100px;
  table-layout: fixed;
}


.item-enter {
  -webkit-transform: translateX(100%);
  transform: translate3d(1920px, 0, 0);
  will-change: transform;
}
.item-enter-active {
  -webkit-transform: translateX(0%);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  transition: transform 500ms ease-out;
}
.item-exit {
  -webkit-transform: translateX(0%);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.item-exit-active {
  -webkit-transform: translateX(-100%);
  transform: translate3d(-1920px, 0, 0);
  will-change: transform;
  transition: transform 500ms ease-in;
}

body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
  content:url(./img/Standing_Title.svg) url(./img/Session_Results_Slide_PRO.svg) url(./img/Session_Results_Slide_SILVER.svg) url(./img/Session_Results_Slide_AM.svg) url(./img/Session_Results_Slide_ROOKIE.svg) url(./img/Champ_Standings_Slide_PRO.svg) url(./img/Champ_Standings_Slide_SILVER.svg) url(./img/Champ_Standings_Slide_AM.svg) url(./img/Champ_Standings_Slide_ROOKIE.svg);   
}

